name: Run S24 Scraper Daily

on:
  schedule:
    - cron: "0 6,18 * * *"  # 9 AM and 9 PM Qatar time (UTC+3)
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v3


    - name: Install Chrome 146 and Xvfb
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip xvfb curl jq
        # Download specific Chrome version 146
        wget https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_146.0.2563.67-1_amd64.deb -O chrome.deb
        sudo dpkg -i chrome.deb || sudo apt-get -f install -y
        google-chrome --version

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        pip install -r requirements.txt

    - name: Download ChromeDriver
      run: |
        CHROME_VERSION=$(google-chrome --version | grep -oP '\d+\.\d+\.\d+' | head -n1)
        DRIVER_URL=$(curl -s "https://googlechromelabs.github.io/chrome-for-testing/last-known-good-versions-with-downloads.json" | jq -r --arg ver "$CHROME_VERSION" '.channels.Stable.downloads.chromedriver[] | select(.platform=="linux64") | .url')
        curl -o chromedriver.zip "$DRIVER_URL"
        unzip chromedriver.zip
        chmod +x chromedriver-linux64/chromedriver
        sudo mv chromedriver-linux64/chromedriver /usr/local/bin/

    - name: Run scraper with xvfb
      env:
        EMAIL_USER: ${{ secrets.EMAIL_USER }}
        EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        RECEIVER: ${{ secrets.RECEIVER }}
      run: |
        xvfb-run --auto-servernum python scrape.py

